.landZoneMainContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2029;
}

.landZoneContentContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.helloMsg {
  font-size: calc(60% + 20.8vmin);
  color: #95fff9;
  line-height: 5vh;
}

/* text animation effect */

.typeWriterTwo {
  text-align: center;
}

.typeWriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing .8s steps(30, end),
    blink-caret .5s step-end infinite;
  padding-top: calc(10% + 1vmin);
  height: calc(60% + 20.8vmin);
}

.typeWriterTwo h1 {
  color: #fff;
  font-size: calc(60% + 3vmin);
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #95fff9;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 1.5s steps(30, end),
    blink-caret .5s step-end infinite,
    opacity 0s;
  margin-top: 10vh;
  animation-delay: .7s;
  animation-fill-mode: forwards;  
  opacity: 0;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}
@keyframes opacity {
  from {
    opacity: 0
  }

  to {
    opacity: 100%;
  }
}
/* The typeWriterTwo cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white
  }
}